.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
    padding: 0px 48px;
}
@media (max-width: 400px) {
    .text {

    padding: 0px 20px;
}
}