.svg {
    mask-image: url(./../../assets/image/create.svg);
    -webkit-mask-image: url(./../../assets/image/create.svg);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    width: inherit;
    height: inherit;
    pointer-events: none;
}