header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 43px;
}

.title {
    font-family: 'Jomhuria';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    color: #2E3341;
    text-decoration: none;
}

.header_block {
    width: 67.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    width: 100%;
    margin-right: 89px;
    justify-content: space-between;
}

.menu_item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
    /* margin-right: 30px; */
}

.buy_text {
    background-color: #F54329;
    min-width: 106px;
    min-height: 106px;
    width: 106px;
    height: 106px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: rotate(19.5deg);
    letter-spacing:1px;

}