.main__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 135px;
}

.info__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Apps ------------------------- */
.apps__block {
    display: flex;
    flex-direction: column;
}

.apps__block_icon {
    display: flex;
    margin-bottom: 12px;
}

.apps__block p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.app__icon {
    width: 55.5px;
    height: 55.5px;
    background: #2D3240;
    border: 1px solid #E1E3E9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__icon img {
    height: 28px;
    width: 28px;
}

.android {
    margin-left: -15px;
}


/* Title ------------------------- */
.title__block {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 106px;
    color: #000000;
    letter-spacing: 2px;
}

.title__block_special {
    letter-spacing: 4px;
}

.title__block_inner {
    display: flex;
}

.title__block_selection {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    color: #000000;
    background: #BAFD37;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    transform: rotate(10.48deg);
    width: fit-content;
    height: fit-content;
    margin-left: 45px;
    padding: 0px 5px;
}

.mask__block {
    padding: 20px 90px 18px 0px;
    width: 476px;
    height: 710.11px;
}



@media (max-width: 1100px) {
    .title__block {
        font-size: 70px;
        line-height: 80px;
    }

    .title__block_selection {
        font-size: 70px;
        margin-left: 25px;
    }
}

@media (max-width: 1000px) {
    .mask__block {
        padding: 0px;
    }

    .main__block {
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }

    .info__block {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 650px) {
    .title__block {
        font-size: 50px;
        line-height: 55px;
    }

    .title__block_selection {
        font-size: 50px;
        margin-left: 15px;
    }
}

@media (max-width: 550px) {
    .mask__block {
        width: 376px;
        height: 610.11px;
    }

    .main__block {
        align-items: center;
        margin-bottom: 50px;
    }
}

@media (max-width: 500px) {
    .info__block {
        flex-direction: column-reverse;
    }

    .title__block {
        margin-bottom: 20px;
    }
}

@media (max-width: 400px) {
    .mask__block {
        width: 276px;
        height: 410.11px;
    }
}

@media (max-width: 350px) {
    .title__block {
        font-size: 40px;
        line-height: 45px;
    }

    .title__block_selection {
        font-size: 40px;
    }

    .app__icon {
        width: 45.5px;
        height: 45.5px;
    }
}

@media (max-width: 280px) {
    .title__block_inner {
        flex-wrap: wrap;
    }
}