.block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 135px;
}

.block_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.apps_block {
    display: flex;
    flex-direction: column;

}

.apps_icon_block {
    display: flex;
    margin-bottom: 12px;
}

.apps_block p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.app_icon {
    width: 55.5px;
    height: 55.5px;
    background: #2D3240;
    border: 1px solid #E1E3E9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.android {
    margin-left: -15px;
}

.app_icon img {
    height: 28px;
    width: 28px;
}

.title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    color: #000000;
}

.big_text {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 106px;
    color: #000000;
    letter-spacing: 2px;
}

.special {
    letter-spacing: 4px;
}

.row {
    display: flex;
}

.title_selection {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    color: #000000;
    background: #BAFD37;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    transform: rotate(10.48deg);
    width: fit-content;
    height: fit-content;
    margin-left: 45px;
    padding: 0px 5px;
}

.text_mask {
    padding: 20px 90px 0px 0px;
    width: 476px;
    height: 710.11px;
}

@media (max-width: 1250px) {
    .text_mask {
        /* padding: 20px 70px 0px 0px; */
    }

}

@media (max-width: 1100px) {
    .text_mask {
        /* width: 350px; */
        /* padding: 20px 70px 20px 0px; */
    }

    .big_text {
        font-size: 70px;
        line-height: 80px;
    }

    .title_selection {
        font-size: 70px;
        margin-left: 25px;
    }
}

@media (max-width: 1000px) {
    .text_mask {
        /* width: 350px; */
        padding: 0px;
    }

    .block {
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }

    .block_info {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
    }

    .big_text {
        /* flex-direction: row; */
    }
}

@media (max-width: 650px) {
    .big_text {
        font-size: 50px;
        line-height: 55px;
    }

    .title_selection {
        font-size: 50px;
        margin-left: 15px;
    }
}

@media (max-width: 550px) {
    .text_mask {
        /* padding: 20px 90px 0px 0px; */
        width: 376px;
        height: 610.11px;
    }

    .block {
        align-items: center;
        margin-bottom: 50px;
    }
}

@media (max-width: 500px) {
    .block_info {
        flex-direction: column-reverse;
    }
    .big_text{
        margin-bottom: 20px;
    }
}
@media (max-width: 400px) {
    .text_mask {
        /* padding: 20px 90px 0px 0px; */
        width: 276px;
        height: 410.11px;
    }
}