@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype"),
    url("./assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype"),
    url("./assets/fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald/static/Oswald-Regular.ttf") format("truetype"),
    url("./assets/fonts/Oswald/static/Oswald-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jomhuria";
  src: url("./assets/fonts/Jomhuria/Jomhuria-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
}

div#root {
  min-height: 100vh;
  height: 100%;
}

.app {
  background-color: #E1E3E9;
  min-height: 100vh;
  height: 100%;
  padding: 20px 91px;
  box-sizing: border-box;
}